<apex:page renderas="PDF" controller="CoreSegRpt" showHeader="false" sidebar="false" standardStylesheets="false"  applyBodyTag="false"  applyHtmlTag="false" >
    <head>
        <style>
        @page {
                size: landscape;
                margin: 10mm;
                @top-center {
                    content: "";
                } 
                @bottom-center {
                    content: "Page " counter(page) " of " counter(pages);
                }
            }       

        </style> 
    </head>
        
    <div align="left" style="font: 15px Verdana; margin-bottom: 0px;">
        <apex:image style="margin-bottom: 0px;" url="{!URLFOR($Resource.RegionsLogo)}"/> 
        <h4 style="text-align:Left; margin-top: 0px; margin-bottom: 0px;">{!ReportName}</h4>
        <apex:outputPanel id="datePanel"> 
            <apex:outputLabel style="font: 12px Verdana; margin-top: 0px; margin-right: 0px; padding: 0px" value="From {!Trim(PDFStartDate)} to {!Trim(PDFEndDate)}"/><apex:outputLabel style="font: 12px Verdana; margin-top: 0px; margin-left: 0px; padding: 0px;" rendered="{!IF(Probability != null,true,false)}" value=", Probability => {!Probability}"/><apex:outputLabel style="font: 12px Verdana; margin-top: 0px; margin-left: 0px;  padding: 0px;" rendered="{!IF(ReasonLost != null,true,false)}" value=", Reason Lost: {!ReasonLost}"/> 
        </apex:outputPanel>
    </div>
    
    <table width="100%"  style="background-color: #ffffff; border-collapse: collapse;">
        <tbody> 
            <apex:repeat value="{!ReportRows}" var="trows"> 
                <tr>
                    <apex:repeat value="{!trows}" var="cell"> 
                            <td align ="{!cell.align}" colspan ="{!cell.colspan}" style="height:14px; border-bottom: {!cell.BottomBorder}; font: 10px Verdana;  padding: 1px; text-indent: {!cell.indent}; width: {!cell.width}; background-color: {!cell.bgcolor}; color: {!cell.fntcolor}">{!cell.value}</td> 
                    </apex:repeat>
                </tr>
            </apex:repeat>  
        </tbody>
    </table>
      <apex:outputPanel id="FootNoteContainer" >
        <apex:outputPanel id="FootNote1" rendered="{!FootNote1}">
            <ul style="list-style-type:disc; font: 10px Verdana;">
              <li>Credit Commitment Production = “Credit Commitment for all Loan products including REFCO”</li>
              <li>LIHTC is not included in NIR but is in Total Revenue</li>
              <li>Private Wealth is included in NIR</li>
            </ul>       
        </apex:outputPanel>
        <apex:outputPanel id="FootNote23" rendered="{!FootNote2}">
            <ul style="list-style-type:disc; font: 10px Verdana;">
                <li>Commercial Middle Market – Core = Direct Middle Market Pipelines (not shared)</li>
                <li>Corporate – Core = Direct Corporate Pipelines (not shared)</li>
                <li>GIB = Direct and Shared GIB Pipelines</li>
                <li>Real Estate Banking = Real Estate Pipelines</li>
                <li>RBC = Direct and Shared RBC Pipelines</li>
                <li>Specialized Industries = Direct and Shared Pipelines</li>
                <li>Credit Commitment Production shown</li>
            </ul>       
        </apex:outputPanel>             
    </apex:outputPanel>
</apex:page>